<!-- ./views/index.handlebars -->
<header>
	
	<!-- navigation -->
	<nav class="navbar navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
					width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
				我的餐廳清單
			</a>
			<form class="mr-2" action="/restaurants/new">
				<button class="btn btn-outline-info btn-sm" type="submit">加入新餐廳</button>
			</form>
		</div>
	</nav>

	<div class="banner"></div>
</header>

<!-- search bar -->
<div class="container search-bar">
	<div class="search-bar-outer">
		<div class="search-bar-inner">
			<form action="/search">
				<h4 class="mb-2">尋找餐廳</h4>
				<div class="input-group">
					<input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
						value="" aria-describedby="search-button">
					<div class="input-group-append">
						<button class="btn btn-major" type="submit" id="search-button">搜尋<i class="fas fa-search"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
	<div class="row">
		<div class="col-md-10 col-12 mx-auto">
			<div class="card-columns">
				{{#each restaurants}}
				
					<div class="card mb-3">
						<a href="/restaurants/{{this.id}}" class="text-secondary">
						<img class="card-img-top" src="{{this.image}}"
							alt="{{this.name}}">
				    </a>
						<div class="card-body p-3">
							<h6 class="card-title mb-1">{{this.name}}</h6>

							<div class="restaurant-category mb-1">
								<i class="fas fa-utensils pr-2"></i> {{this.category}}						
							  <span class="badge badge-pill badge-danger font-weight-normal">
								{{this.rating}}
								<i class="fas fa-star fa-xs"></i>
							  </span>
              </div>
							{{!-- 插入 edit, detail, delete --}}
							<div class = "row" style="float: right;">
									<form class = "mr-2" action="/restaurants/{{this.id}}/edit">
										<button class="btn btn-outline-info btn-sm" type="submit">edit</button>
									</form>
									<form class = "mr-2"action="/restaurants/{{this.id}}">
										<button class="btn btn-outline-primary btn-sm" type="submit">detail</button>
									</form>
									<button class ="btn btn-outline-danger btn-sm"type="submit" data-toggle="modal" data-target="
                    #deleteRestaurant{{this.id}}" >delete</button>
							</div>			
									
	  								{{!--  delete restaurant modal --}}
											<div class="modal fade" id="deleteRestaurant{{this.id}}" tabindex="-1" role="dialog">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-body">
															<p class="font-weight-light">Ready to delete {{this.name}}?</p>
														</div>
														<div class="modal-footer">
															<form action='/restaurants/{{this.id}}/delete' method="POST">
																<button type="submit" class="btn btn-danger">刪除</button>
															</form>
															<button type="button" class="btn btn-secondary" data-dismiss="modal">x</button>
														</div>						
													</div>
												</div>
											</div>
									
						  
					  </div>
				  </div>      
				
				{{/each}}
			</div>
		</div>
	</div>
</div>

<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="footer-content">
			<p>&copy; 2019 Author by Judy | All Rights Reserved.</p>
			<div class="footer-social-icon">
				{{!-- <ul>
					<li>
						<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-github-alt" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-skype" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					</li>
				</ul> --}}
			</div>
		</div>
	</div>
</footer>
