<!-- ./views/show.handlebars -->
<header>
	<!-- navigation -->
	<nav class="navbar navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img src="{{restaurant.image}}"
					width="30" height="30" class="d-inline-block align-top" alt="好。吃">
				我的餐廳清單
			</a>
		</div>
	</nav>

	<div class="banner"></div>
</header>

<h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
	
<div class="container">
	<div class="row">
		<div class="col-10 col-md-10 mx-auto">

			{{!-- 插入 edit, detail, delete --}}
			<div class="row" style="float: right;">
				<form class="mr-2" action="/restaurants/{{restaurant.id}}/edit">
					<button class="btn btn-outline-info btn-sm" type="submit">edit</button>
				</form>
				<button class="btn btn-outline-danger btn-sm" type="submit" data-toggle="modal" data-target="
				                    #deleteRestaurant{{restaurant.id}}">delete</button>
			</div>
				
				{{!--  delete restaurant modal --}}
				<div class="modal fade" id="deleteRestaurant{{restaurant.id}}" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<p class="font-weight-light">Ready to delete {{restaurant.name}}?</p>
							</div>
							<div class="modal-footer">
								<form action='/restaurants/{{restaurant.id}}/delete' method="POST">
									<button type="submit" class="btn btn-danger">刪除</button>
								</form>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">x</button>
							</div>
						</div>
					</div>
				</div>
			
		

			<p class="mb-1">
				<span class="text-secondary">
					<i class="fas fa-utensils pr-2"></i>
					類別：
				</span>
			   {{restaurant.category}}
			</p>

			<p class="mb-1">
				<span class="text-secondary">
					<i class="fas fa-map-marker-alt pr-2"></i>
					地址：
				</span>
				{{restaurant.location}}
				<a href={{restaurant.google_map}} class="text-secondary" target="_blank">
					<i class="fas fa-location-arrow pr-2 fa-xs"></i>
				</a>
			</p>

			<p class="mb-1">
				<span class="text-secondary">
					<i class="fas fa-mobile-alt pr-2"></i>
					電話：
				</span>
				{{restaurant.phone}}
			</p>

			<p class="mb-5">
				{{restaurant.description}}
			</p>

			<img class="rounded mx-auto d-block mb-4 w-100"
				src="{{restaurant.image}}" alt="{{restaurant.name}}"
				style="max-width: 600px;">
		</div>
	</div>
</div>

<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="footer-content">
			<p>&copy; 2019 Author by Judy | All Rights Reserved.</p>
			<div class="footer-social-icon">
				{{!-- <ul>
					<li>
						<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-github-alt" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-skype" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					</li>
				</ul> --}}
			</div>
		</div>
	</div>
</footer>